{
  "extends": "airbnb-base",
  "rules":{
    linebreak-style: ["error", "windows"],
    no-plusplus: 0,
    prefer-destructuring: 0,
    guard-for-in: 0,
    no-restricted-syntax: 0,
    no-console: 0,
  }
}
